<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lieferliste_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Lieferliste_WPF.Properties.Settings.DBOConnectionString"
      connectionString="Data Source=DESKTOP-88O2DD0;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Lieferliste_WPF.Properties.Settings.DB_COS_LIEFERLISTE_SQLConnectionString"
      connectionString="Data Source=DESKTOP-88O2DD0;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntitiesLL" connectionString="metadata=res://*/Entities.MainViewLL.csdl|res://*/Entities.MainViewLL.ssdl|res://*/Entities.MainViewLL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HL0VSQL02.emea.bosch.com;initial catalog=DB_COS_LIEFERLISTE_SQL;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntitiesAlloc" connectionString="metadata=res://*/Entities.Allocation.csdl|res://*/Entities.Allocation.ssdl|res://*/Entities.Allocation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HL0VSQL02.emea.bosch.com;initial catalog=DB_COS_LIEFERLISTE_SQL;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Log\MyLogg.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <!--<param name="ConversionPattern" value="%d [%t] %-5p %m%n" />-->
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Debug" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <threshold>INFO</threshold>
      <bufferSize value="50" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=HL0VSQL02.emea.bosch.com;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Integrated Security=True" />
      <commandText value="INSERT INTO Logs ([Date],[Thread],[Source],[Level],[Logger],[Message],[Exception],[HostName]) VALUES (@log_date, @thread, @LogSource ,@log_level, @logger, @message, @exception, @hostname)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogSource" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.layout.PatternLayout">
          <conversationPattern value="%source" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostname" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log4net:HostName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <!--LogLevel: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <level value="WARN" />
      <appender-ref ref="Debug" />
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <Lieferliste_WPF.Properties.Settings>
      <setting name="Pause" serializeAs="String">
        <value>229, 220, 220</value>
      </setting>
      <setting name="Stripe1" serializeAs="String">
        <value>58, 94, 218</value>
      </setting>
      <setting name="Stripe2" serializeAs="String">
        <value>58, 161, 86</value>
      </setting>
      <setting name="outOfDate" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="inDate" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Stripe3" serializeAs="String">
        <value>255, 128, 0</value>
      </setting>
      <setting name="ColorPallette" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>#FFAA00</string>
            <string>#AAAA00</string>
            <string>#92a8d1</string>
            <string>#034f84</string>
            <string>#f7cac9</string>
            <string>#f7786b</string>
            <string>#deeaee</string>
            <string>#b1cbbb</string>
            <string>#eea29a</string>
            <string>#c94c4c</string>
            <string>#ffef96</string>
            <string>#80ced6</string>
            <string>#4040a1</string>
            <string>#b0aac0</string>
            <string>#009933</string>
            <string>#990000</string>
          </ArrayOfString>
        </value>
      </setting>
    </Lieferliste_WPF.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.832" newVersion="2.14.0.832" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>