<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dirkster.AvalonDock" version="4.71.2" targetFramework="net40-client" />
  <package id="Dirkster.AvalonDock.Themes.Aero" version="4.71.2" targetFramework="net40-client" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net40-client" requireReinstallation="true" />
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net40-client" requireReinstallation="true" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
</packages>