<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lieferliste_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lieferliste_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lieferliste_WPF.Properties.Settings.ConnectionString" connectionString="Data Source=HL0VM00069;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;User Id=EL2;Password=SCM7777scm!$" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <Lieferliste_WPF.Properties.Settings>
            <setting name="outOfDate" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="inDate" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="mgsch_Server" serializeAs="String">
                <value>Data Source=DESKTOP-MEMDFDP\SQLEXPRESS;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Integrated Security=True;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True</value>
            </setting>
            <setting name="scm2hl_Server" serializeAs="String">
                <value>Data Source=HL0VM00069;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;User Id=EL2;Password=SCM7777scm!$</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>EMEA\</value>
            </setting>
            <setting name="ExplorerFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Dokumente|*.pdf;*.doc</string>
                        <string>|Bild Dateien|*.jpg;*.jpeg;*.png;*bmp;*.tiff</string>
                        <string>|Excel Dateien|*.xls;*xlsx;*xlsm</string>
                        <string>|alles|*.*</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExplorerExt" serializeAs="String">
                <value>*.pdf</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Q:\ZproE\COS_Messdaten</value>
            </setting>
        </Lieferliste_WPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Lieferliste_WPF.Properties.Settings>
            <setting name="Pause" serializeAs="String">
                <value>229, 220, 220</value>
            </setting>
            <setting name="Stripe1" serializeAs="String">
                <value>58, 94, 218</value>
            </setting>
            <setting name="Stripe2" serializeAs="String">
                <value>58, 161, 86</value>
            </setting>
            <setting name="Stripe3" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ColorPallette" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>#FFAA00</string>
                        <string>#AAAA00</string>
                        <string>#92a8d1</string>
                        <string>#034f84</string>
                        <string>#f7cac9</string>
                        <string>#f7786b</string>
                        <string>#deeaee</string>
                        <string>#b1cbbb</string>
                        <string>#eea29a</string>
                        <string>#c94c4c</string>
                        <string>#ffef96</string>
                        <string>#80ced6</string>
                        <string>#4040a1</string>
                        <string>#b0aac0</string>
                        <string>#009933</string>
                        <string>#990000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExplorerPath" serializeAs="String">
                <value>^(\w{4})(\w{3})(\w+),[TTNR],,[AID]</value>
            </setting>
            <setting name="ExplorerRoot" serializeAs="String">
                <value>Q:\ZproE\COS_Messdaten</value>
            </setting>
        </Lieferliste_WPF.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
