<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>188</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>DC88D7360FDF0635AD56E7ABD9A96B55490328B0</ManifestCertificateThumbprint>
    <ManifestKeyFile>Lieferliste_WPF_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>1.0.2.0</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Lieferliste</ProductName>
    <PublishDir>bin\Release\net9.0-windows10.0.22621.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>\\bosch.com\DfsRB\DfsAT\Loc\Hl\Abt\ZproF\COS_Lieferung\Lieferliste\EL2\</PublishUrl>
    <PublisherName>Bosch HlP-TEF2</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetCulture>de-AT</TargetCulture>
    <TargetFramework>net9.0-windows10.0.22621.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestTimestampUrl>http://timestamp.digicert.com</ManifestTimestampUrl>
    <History>True|2025-04-02T14:46:54.4045792Z||;True|2025-04-02T16:38:58.1600689+02:00||;True|2025-04-02T16:16:34.9594024+02:00||;True|2025-04-02T15:54:15.9926551+02:00||;True|2025-04-02T15:44:14.1673682+02:00||;True|2025-04-02T15:26:50.8140602+02:00||;True|2025-04-02T14:56:35.1407959+02:00||;True|2025-04-02T14:19:49.4365519+02:00||;True|2025-04-02T14:17:20.1274856+02:00||;True|2025-04-01T12:30:45.3698261+02:00||;True|2025-04-01T11:00:19.9314972+02:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="el4-application.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>