<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="El2Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <El2Core.Properties.Settings>
            <setting name="ExplorerRoot" serializeAs="String">
                <value>Q:\ZproE\COS_Messdaten</value>
            </setting>
            <setting name="ExplorerPath" serializeAs="String">
                <value>^(\w{4})(\w{3})(\w+),[TTNR],,[AID]</value>
            </setting>
            <setting name="IsSaveMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light.Olive</value>
            </setting>
            <setting name="UpgradeFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="PersonalFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRowDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlanedSetup" serializeAs="String">
                <value>Setup1</value>
            </setting>
            <setting name="SizePercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="KWReview" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EmployTimeFormat" serializeAs="String">
                <value>2</value>
            </setting>
        </El2Core.Properties.Settings>
    </userSettings>
</configuration>