<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical">
      <LayoutDocumentPane>
        <LayoutDocument IsSelected="True" IsLastFocusedDocument="True" LastActivationTimeStamp="04/18/2017 21:48:55" />
        <LayoutDocument />
      </LayoutDocumentPane>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="677" FloatingWidth="1360" FloatingHeight="150" FloatingLeft="646" FloatingTop="371">
      <LayoutAnchorablePane Id="89daf87d-f35b-4570-b3cc-55ce8da9ed2a" DockHeight="150" FloatingWidth="1360" FloatingHeight="150" FloatingLeft="646" FloatingTop="371" />
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide>
    <LayoutAnchorGroup PreviousContainerId="89daf87d-f35b-4570-b3cc-55ce8da9ed2a">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" FloatingLeft="646" FloatingTop="371" FloatingWidth="1360" FloatingHeight="150" LastActivationTimeStamp="04/18/2017 21:48:45" />
    </LayoutAnchorGroup>
  </RightSide>
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>