<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lieferliste_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lieferliste_WPF.Properties.Settings.ConnectionBosch"
            connectionString="Data Source=HL0VM00069;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Connect Timeout=5;E&#xA;ncrypt=False;TrustServerCertificate=True;User Id=EL2;Password=SCM7777scm!$" />
        <add name="Lieferliste_WPF.Properties.Settings.ConnectionHome"
            connectionString="Data Source=DESKTOP-MEMDFDP\SQLEXPRESS;Initial Catalog=DB_COS_LIEFERLISTE_SQL;Integrated Security=True;TrustServerCertificate=true" />
    </connectionStrings>
    <userSettings>
        <Lieferliste_WPF.Properties.Settings>
            <setting name="ExplorerPath" serializeAs="String">
                <value>^(\w{4})(\w{3})(\w+),[TTNR],,[AID]</value>
            </setting>
            <setting name="ExplorerRoot" serializeAs="String">
                <value>C:\ZProF</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Q:\ZproE\COS_Messdaten</value>
            </setting>
        </Lieferliste_WPF.Properties.Settings>
    </userSettings>
</configuration>